*.hdf5
*.mat
*.png
.venv/
__pycache__/
.env
.gradio
*.egg-info/
.DS_Store

# Generated example artifacts (written by the example scripts at run time)
examples/tracked_dataset/data/
examples/tracked_dataset/3d_views/
